<div class="mt-5">
  <div class="title-flower-2">
    <div class="title-flower-text">
      Recomendaciones
    </div>
  </div>

  <div class="text-center pe-5 ps-5 pt-5">
    Por qué te queremos, cuidamos a los tuyos "los niños se quedan en casa"
    Confirma el número de asistentes en el formulario al final de la invitación
    Uso de cubrebocas obligatorio
  </div>

  <div class="text-center mt-5">
    <div class="title">
      Código de vestimenta mujeres
    </div>

    <div class="pt-4 ps-5 pe-5">
      Formal, colores no permitidos: rosa, blanco, beige, ivory. Recomendaciones de estilo a continuación.
    </div>
  </div>

  <carousel [height]="300" class="mt-4">
    <div class="carousel-cell">
      <img src="https://firebasestorage.googleapis.com/v0/b/wedding-invitation-8ad35.appspot.com/o/assets%2Fimg%2Fcarousel_1.jpeg?alt=media&token=9a01c960-2fc1-44af-b241-eb92774cf58a">
    </div>

    <div class="carousel-cell">
      <img src="https://firebasestorage.googleapis.com/v0/b/wedding-invitation-8ad35.appspot.com/o/assets%2Fimg%2Fcarousel_1.jpeg?alt=media&token=9a01c960-2fc1-44af-b241-eb92774cf58a">
    </div>

    <div class="carousel-cell">
      <img src="https://firebasestorage.googleapis.com/v0/b/wedding-invitation-8ad35.appspot.com/o/assets%2Fimg%2Fcarousel_1.jpeg?alt=media&token=9a01c960-2fc1-44af-b241-eb92774cf58a">
    </div>

    <div class="carousel-cell">
      <img src="https://firebasestorage.googleapis.com/v0/b/wedding-invitation-8ad35.appspot.com/o/assets%2Fimg%2Fcarousel_1.jpeg?alt=media&token=9a01c960-2fc1-44af-b241-eb92774cf58a">
    </div>
  </carousel>

  <div class="text-center mt-5">
    <div class="title">
      Código de vestimenta hombres
    </div>

    <div class="pt-4 ps-5 pe-5">
      Formal. Recomendaciones de estilo a continuación.
    </div>
  </div>

  <carousel [height]="300" class="mt-4">
    <div class="carousel-cell">
      <img src="https://firebasestorage.googleapis.com/v0/b/wedding-invitation-8ad35.appspot.com/o/assets%2Fimg%2Fcarousel_1.jpeg?alt=media&token=9a01c960-2fc1-44af-b241-eb92774cf58a">
    </div>

    <div class="carousel-cell">
      <img src="https://firebasestorage.googleapis.com/v0/b/wedding-invitation-8ad35.appspot.com/o/assets%2Fimg%2Fcarousel_1.jpeg?alt=media&token=9a01c960-2fc1-44af-b241-eb92774cf58a">
    </div>

    <div class="carousel-cell">
      <img src="https://firebasestorage.googleapis.com/v0/b/wedding-invitation-8ad35.appspot.com/o/assets%2Fimg%2Fcarousel_1.jpeg?alt=media&token=9a01c960-2fc1-44af-b241-eb92774cf58a">
    </div>

    <div class="carousel-cell">
      <img src="https://firebasestorage.googleapis.com/v0/b/wedding-invitation-8ad35.appspot.com/o/assets%2Fimg%2Fcarousel_1.jpeg?alt=media&token=9a01c960-2fc1-44af-b241-eb92774cf58a">
    </div>
  </carousel>
</div>
