<div class="mt-5">
  <div class="title-flower-2">
    <div class="title-flower-text">
      Nuestros momentos juntos
    </div>
  </div>

  <div class="text-center moment-title">
    Cuando te enamoras no vuelves a ser
    la misma persona que eras antes, porque
    es en ese momento donde empiezas a vivir
    la vida de verdad
  </div>

  <carousel [height]="300" class="mt-4">
    <div class="carousel-cell">
      <img src="https://firebasestorage.googleapis.com/v0/b/wedding-invitation-8ad35.appspot.com/o/assets%2Fimg%2Fcarousel_1.jpeg?alt=media&token=9a01c960-2fc1-44af-b241-eb92774cf58a">
    </div>

    <div class="carousel-cell">
      <img src="https://firebasestorage.googleapis.com/v0/b/wedding-invitation-8ad35.appspot.com/o/assets%2Fimg%2Fcarousel_1.jpeg?alt=media&token=9a01c960-2fc1-44af-b241-eb92774cf58a">
    </div>

    <div class="carousel-cell">
      <img src="https://firebasestorage.googleapis.com/v0/b/wedding-invitation-8ad35.appspot.com/o/assets%2Fimg%2Fcarousel_1.jpeg?alt=media&token=9a01c960-2fc1-44af-b241-eb92774cf58a">
    </div>

    <div class="carousel-cell">
      <img src="https://firebasestorage.googleapis.com/v0/b/wedding-invitation-8ad35.appspot.com/o/assets%2Fimg%2Fcarousel_1.jpeg?alt=media&token=9a01c960-2fc1-44af-b241-eb92774cf58a">
    </div>
  </carousel>

  <iframe src="https://www.youtube.com/embed/nSDgHBxUbVQ"></iframe>
</div>
