<div class="mt-3 wow animate__animated animate__slow animate__fadeIn">
  <div class="primary-decorator"></div>

  <div>
    <button mat-mini-fab color="primary" (click)="onGoToEnd()">
      <mat-icon>
        expand_more
      </mat-icon>
    </button>
  </div>

  <div class="title-flower">
    <div class="title-flower-text">
      Nos casamos con la bendición de nuestros padrinos
    </div>
  </div>

  <div class="title-cursive primary-text title-before-margin">
    ¿Quiénes velaran por nuestro matrimonio?
  </div>

  <div class="godparent mt-3">
    <div class="text-center mt-5 mb-5">
      <img width="100" src="assets/img/couple.png">
    </div>

    <div class="wow animate__animated animate__slow animate__backInUp">
      Juan Aguirre Covarrubias <br><span class="accent-text">&</span><br>
      Maricela Montejano Valenzuela
    </div>
  </div>

  <div class="title-cursive primary-text title-before-margin">
    ¿Quiénes nos darán el símbolo de nuestro amor?
  </div>

  <div class="godparent mt-5">
    <div class="text-center mt-5 mb-5">
      <img width="100" src="assets/img/ring.png">
    </div>

    <div class="wow animate__animated animate__slow animate__backInUp">
      Karla Fragoso <br><span class="accent-text">&</span><br>
      Gustavo Zuno Lozano
    </div>
  </div>

  <div class="title-cursive primary-text title-before-margin">
    ¿Quién nos darán el símbolo de nuestro sustento?
  </div>

  <div class="godparent mt-5">
    <div class="text-center mt-5 mb-5">
      <img width="100" src="assets/img/currency.png">
    </div>

    <div class="wow animate__animated animate__slow animate__backInUp">
      Fatima Lourdes Aguirre Montejano
    </div>
  </div>


  <div class="title-cursive primary-text title-before-margin">
    ¿Quienes enlazaran nuestras vidas?
  </div>

  <div class="godparent mt-5">
    <div class="text-center mt-5 mb-5">
      <img width="100" src="assets/img/string.png">
    </div>

    <div class="wow animate__animated animate__slow animate__backInUp">
      Felicitas Lopez
      <br><span class="accent-text">&</span><br>
      J Jesús Lozano Gonzales
    </div>
  </div>

  <div class="title-cursive primary-text title-before-margin">
    ¿Quienes nos darán el símbolo de nuestra fe?
  </div>

  <div class="godparent mt-3">
    <div class="text-center mt-5 mb-5">
      <img width="100" src="assets/img/bible.png">
    </div>

    <div class="wow animate__animated animate__slow animate__backInUp">
      Doña tina García
      <br><span class="accent-text">&</span><br>
      Werito
    </div>
  </div>

  <div class="title-cursive primary-text title-before-margin">
    ¿Quienes serán nuestro apoyo en la ceremonia?
  </div>

  <div class="godparent mt-3">
    <div class="text-center mt-5 mb-5">
      <img width="100" src="assets/img/pillow.png">
    </div>

    <div class="wow animate__animated animate__slow animate__backInUp">
      Sofia Montserrat García Aguirre
    </div>

    <div class="text-center mt-5 mb-5">
      <img width="100" src="assets/img/flower.png">
    </div>

    <div class="wow animate__animated animate__slow animate__backInUp">
      Elizabeth Lozano Silva
    </div>
  </div>

  <div class="title-cursive primary-text title-before-margin">
    Gracias a ustedes y a su amor hemos llegado hasta aquí
  </div>

  <div class="godparent mt-3">
    <div class="text-center mt-5 mb-5">
      <div class="wife-background"></div>

      <div class="wife-text wow animate__animated animate__slow animate__backInUp">
        Maria Ofelia Silva Bernal
        <br><span class="accent-text">&</span><br>
        David Lozano Gonzales
      </div>
    </div>

    <div class="text-center mt-5 mb-5">
      <img width="100" src="assets/img/heart.png">
    </div>

    <div class="text-center mt-5 mb-3">
      <div class="wife-text wow animate__animated animate__slow animate__backInUp">
        Maricela Aguirre Montejano
        <br><span class="accent-text">&</span><br>
        Fernando García Godina
      </div>

      <div class="husband-background"></div>
    </div>
  </div>

  <div #godParentsEnd class="primary-decorator"></div>
</div>
